/* A Custom CSS Powered by @madooding */

@import url('https://fonts.googleapis.com/css?family=Kanit:400,600');


body {
    font-family: 'Kanit', 'Helvetica';
    background: url('../images/bg.png');
    background-repeat: repeat;
    background-size: 8%;
    background-color: #37466a;
    background-attachment: fixed;
}

#gradient {
    position: fixed;
    z-index: -1;
    background: rgba(0,0,0,0);
    background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 17%, rgba(0,0,0,0.43) 100%);
    height: 100vh;
    width: 100%;
    top: 0;
    bottom: 0;
}

div#app {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    vertical-align: middle;
    padding-top: 20px;
    padding-bottom: 20px;
}

div.main {
    z-index: 999999;
    margin: 0 auto;
    max-width: 600px;
    width: 100%;
    height: auto;
    background-color: rgba(255,255,255,.9);
    border-radius: 5px;
    padding: 15px;
}

div.main > .container-fluid > div.row:last-child {
    
}

.main div.custom.header {
    height: 120px;
    margin-top: 10px;
}

.main div.custom.header div {
    height: 100%;
}

.main div.custom.header > div.brand {
    align-content: center;
    display: flex;
    align-items: center;

}

div.custom.header > div.brand > img {
    display: block;
    margin: 0 auto;
    width: 100%;
    transition: transform .2s ease-in 0s;
}

div.custom.header > div.brand > img:hover {
    transform: scale(1.2, 1.2);
}

div.custom.header > div.head-text {
    display: flex;
    align-items: center;
    justify-content: center;
}

div.custom.header > div.head-text > h2 {
    font-size: 26px;
    color: #373737;
    font-weight: 600;
    padding: 0px;
    margin: 0px auto;
}

#stage {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
}

.upload-btn-wrapper {
    position: relative;
    cursor: pointer;
}

.upload-btn-wrapper > span {
    cursor: pointer;
}

#upload-btn {
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 100;
}


#cropArea {
    position: relative;
}

#cropArea > div.watermark {
    position: absolute;
    z-index: 999;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    background-image: url('../images/watermark.png');
    background-size: contain;
    pointer-events: none;

}

#result-img {
    width: 100%;
    margin-bottom: 10px;
}

hr {
    height: 1px;
    background-color: #d6d6d6;
}